.calendar-page__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    height: 95vh;
  }
  
  .calendar-page__calendar{
    padding: 8px;
    position: sticky;
    top: 0;
  }


.calendar-page__visits{
  padding: 8px;
  overflow-y: auto;
  }


.attachments {
  display: flex;
  flex-direction: column;
}