.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  
  button {
    margin: 0 8px;
    padding: 6px 12px;
    font-size: 14px;
  }
  
  .current-month {
    font-size: 16px;
    font-weight: bold;
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}

.calendar-day {
  padding: 8px;
  border: none; /* по умолчанию без рамки */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  
  .day-number {
    display: block;
    font-size: 14px;
  }
  
  .visits-count {
    display: block;
    font-size: 12px;
    color: var(--gray-color);
    margin-top: 4px;
  }
}

/* Если у дня есть записи (visitsCount > 0), то применяется серая рамка */
.with-border {
  border: 1px solid var(--gray-color);
}

/* Если день выбран, то рамка становится цвета var(--primary-color) */
.selected {
  border: 1px solid var(--primary-color);
}

.mounth-btn {
  width: 200px;
}
