:host {
    display: grid;
    margin: 0 5%;
}

// .tt-input[type="datetime-local"]::-webkit-calendar-picker-indicator {
//     filter: invert(1);
//   }

.tt-input {
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}