.profile-page__body {
    padding: 24px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 400px 1fr;
}

.attachments {
    display: flex;
    flex-direction: column;
}

.count-input {
    background-color: var(--light-color);
    width: 100px;
    color: var(--dark-color)
}

.finish-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

.colored-area {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 4px;
}


.tt-input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }