<header class="mb32 profile-page__header">
    @if (patient$ | async; as patient){
        <app-profile-header [profile]="patient"> </app-profile-header>
    }    
</header>

<div class="profile-page__body">
    <app-add-visit [fixedPatientId]="patientId"
    (visitCreated)="onVisitCreated()">></app-add-visit>
    <div class="profile-page__visits">
        @for (visit of visits; track visit.visitId) {
          <app-visit-card [visit]="visit" [hidePatient]="true" 
          (viewAttachments)="onToggleAttachments(visit.visitId)"></app-visit-card>

          @if (expandedVisitIds.has(visit.visitId)) {
            <div class="attachments mb16">
                @if (visit.attachmentUrls.length > 0) {
                    @for (url of visit.attachmentUrls; track url) {
                      <app-attachment [attachmentUrl]="url" class="mb4"></app-attachment>
                    }
                  }
                  @else {
                    <p>Вложения отсутствуют</p>
                  }
            </div>
          }
        }
      </div>
</div>