<header class="mb32 profile-page__header">
    @if (patient$ | async; as patient){
        <app-profile-header [profile]="patient"> </app-profile-header>
    }    
</header>

<div class="profile-page__body">
    <app-add-visit [fixedPatientId]="patientId"
    (visitCreated)="onVisitCreated()">></app-add-visit>
    <div class="profile-page__visits">
        @for (visit of visits; track visit.visitId) {
          <app-visit-card [visit]="visit" [hidePatient]="true" 
          (viewAttachments)="onToggleAttachments(visit.visitId)"
          (startFinish)="onStartFinish(visit)"
          (cancel)="onCancelVisit(visit.visitId)"
          (rerrange)="onStartRearrange(visit)"></app-visit-card>

          @if (expandedVisitIds.has(visit.visitId)) {
            <div class="attachments mb16">
                @if (visit.attachmentUrls.length > 0) {
                    @for (url of visit.attachmentUrls; track url) {
                      <app-attachment [attachmentUrl]="url" class="mb4"></app-attachment>
                    }
                  }
                  @else {
                    <p>Вложения отсутствуют</p>
                  }
            </div>
          }

          @if (finishFormVisitId === visit.visitId) {
            <div class="modal-backdrop" (click)="finishFormVisitId = null">
              <div class="modal-window" (click)="$event.stopPropagation()">
                <h2 class="mb16">Завершить визит</h2>
                @for (service of serviceList; track service.name) {
                  <label class="tt-form-label">
                    {{ service.name }}
                    <input
                      class="tt-input count-input"
                      type="number" min="0"
                      [value]="quantities[service.name]"
                      (input)="quantities[service.name] = +$any($event.target).value"
                    />
                  </label>
                }
                <label class="tt-form-label">
                  Примечания:
                  <textarea
                    class="tt-textarea big-textarea"
                    [(ngModel)]="finishNotes">
                  </textarea>
                </label>
                <div class="modal-actions">
                  <button class="btn btn-shadow" (click)="onSubmitFinish(finishFormVisitId!)">
                    Сохранить
                  </button>
                  <button class="btn btn-link" (click)="finishFormVisitId = null">
                    Отмена
                  </button>
                </div>
              </div>
            </div>
          }

          @if (rearrangeFormVisitId === visit.visitId) {
            <div class="rearrange-form mb16">
              <label class="tt-form-label mb16">
                Новая дата и время:
                <input
                  class="tt-input"
                  type="datetime-local"
                  [(ngModel)]="rearrangeDate"
                />
              </label>
          
              <button
                class="btn btn-shadow"
                type="button"
                [disabled]="!rearrangeDate"
                (click)="onSubmitRearrange(visit.visitId)"
              >
                Сохранить
              </button>
            </div>
          }
        }

        
      </div>
</div>