
<nav>
    <ul class="main-menu-list">
        @if(me.roles.includes('PATIENT')){
            @for (item of menuItemsPatient; track item.label){
                <li>
                    <a class="menu-item" [routerLink]="[item.link]" routerLinkActive="active">
                        <svg [icon]="item.icon"></svg>
                        <span>{{ item.label }}</span>
                    </a>
                </li>
            }
        }
        @else {
            @for (item of menuItems; track item.label){
            <li>
                <a class="menu-item" [routerLink]="[item.link]" routerLinkActive="active">
                    <svg [icon]="item.icon"></svg>
                    <span>{{ item.label }}</span>
                </a>
            </li>
        }
    }
    </ul>
</nav>

<footer class="sidebar__footer">
    @if(me; as me){
        @if(me.roles.includes('PATIENT')) {
            <div class="small-text email-text">{{ me.email }}</div>
          } @else {
            <div class="username-container">
              <div class="medium-text username-text mb4">{{ me.fullName }}</div>
              <div class="small-text username-text">code:{{ me.code }}</div>
            </div>
            <a [routerLink]="['settings']" class="settings-btn">
              <!-- <svg icon="settings"></svg> -->
            </a>
          }
    }
</footer>