:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
}

.patient-form {
    width: 700px;
}

.tt-input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }