:host {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100dvh;
}

app-sidebar {
    position: sticky;
    top: 0;
    height: 100dvh;
    overflow-y: auto;
  }

.workspace {
    padding: 24px;
    overflow-y: auto;
}