<form 
    class="reg-form" 
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1 class="h1 mb60">Регистрация</h1>
    <label class="tt-control-label mb16">
        Почта
        <input 
        formControlName="email"
        class="tt-input" type="email" placeholder="Введите почту">
    </label>

    <label class="tt-control-label mb16">
        Телефон
        <input 
        formControlName="phone"
        class="tt-input" type="tel" placeholder="Введите телефон">
    </label>

    <label class="tt-control-label mb16">
        ФИО
        <input 
        formControlName="fullName"
        class="tt-input" type="text" placeholder="Введите ФИО">
    </label>

    <label class="tt-control-label mb16">
        Специализация
        <select formControlName="specialization" class="tt-input">
            <option value="" disabled selected>Выберите специализацию</option>
            @for (spec of specializations; track spec){
            <option>{{ spec }}</option>
            }
        </select>
    </label>

    <label class="tt-control-label mb32">
        Пароль
        <div class="password-input">
            <input 
            formControlName="password"
            class="tt-input" [type]="isPasswordVisible() ? 'text': 'password'" placeholder="Введите пароль">
            
            <button class="password-eye-btn" type="button"
            [class.active] = "isPasswordVisible()"
            (click)="isPasswordVisible.set(!isPasswordVisible())">
                <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m2 2 20 20"/><path d="m6.71277 6.7226c-3.04798 2.07267-4.71277 5.2774-4.71277 5.2774s3.63636 7 10 7c2.0503 0 3.8174-.7266 5.2711-1.7116m-6.2711-12.23018c.3254-.03809.6588-.05822 1-.05822 6.3636 0 10 7 10 7s-.6918 1.3317-2 2.8335"/><path d="m14 14.2362c-.5308.475-1.2316.7639-2 .7639-1.6569 0-3-1.3431-3-3 0-.8237.33193-1.5698.86932-2.11192"/></g>
                </svg>
            </button>
        </div>
    </label>




    <button class="btn btn-shadow mb16" type="submit">Зарегистрироваться</button>
    <button class="btn btn-shadow" type="button" [routerLink]="['/login']">Вход</button>

</form>
<!-- <img src="/assetrs/svg/logo-big.srv" alt="logo"> -->